form {
  width: 600px;
  margin: auto;
}

p {
  padding-left: 10px;
  margin-bottom: 6px;
  font-family: BrandonGrotesque, sans-serif;
  font-size: 13px;
}

input {
  width: 100%;
  padding: 10px;
  border-style: solid;
  border: 1px solid rgb(226 226 226);
  border-radius: 5px;
  font-size: 17px;
  font-family: AtlasGrotesk, Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  color: rgb(211 89 71);
  font-family: "Brandon Grotesque", sans-serif;
  font-style: bold;
  font-weight: 300;
  font-size: 20px;
}

select {
  width: 100%;
  height: 47px;
  background-color: rgb(240 240 240);
  border-style: solid;
  border: 2px solid rgb(226 226 226);
  border-radius: 5px;
  font-size: 13px;
}

button {
  margin: auto;
  background-color: rgb(219 83 65);
  font-size: 16px;
  color: white;
  text-align: right;
  padding: 9.5px 25px;
  border-style: solid;
  border: 1px solid rgb(226 226 226);
  border-radius: 25px;
  float: right;
}
