#container {
  max-width: 800px;
  margin: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  display: flex;
  margin: auto;
  flex-basis: auto;
}

img {
  width: 100%;
}

.column-third {
  width: calc(100%/3);
}

.column-two-third {
  width: 75%;
}

.column-fourth {
  width: 25%;
}
